/* Bryanna Miles */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* global styles and Mobile Styles First*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dark-gray: #222222;
	--light-gray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
   --molle: 'Molle', cursive;
   --montserrat: 'Montserrat', sans-serif; 
    
   font-size: 16px;
}

/*----- SKIP LINK -----*/

.skipLink {
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.skipLink:focus {
    position: static;
    height: auto;
    width: auto;
    left: 0;
}


/*----- HEADERS BEGIN -----*/
h1, h2, h3 {
    font-family: var(--molle);
}

h4, p, q, small, nav, button, form {
    font-family: var(--montserrat);
}

h1 {
    font-size: 45px;
    padding: 0.5em 0.75em 0;
}

h2 {
    font-size: 35px;
    padding: .5em .75em 0;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
}
/*----- HEADERS END -----*/

* {
    box-sizing: border-box;
}

/*----- BODY START -----*/

body {
    line-height: 1.5;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--teal) 0%,  var(--white) 100%);
}

header p {
    font-size: 18px;
    padding: 0.25em 1.5em;
}

h1 {
    width: 100%;
}

#logo img {
    max-width: 140px;
    width: 100%;
}

#menu {
    display: flex;
    align-items: right;
    text-transform: uppercase;
    font-weight: 900;
}

#menu input:checked ~ label {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
}

#menu input:checked ~ label:hover {
    background-color: var(--yellow);
    color: var(--black);
}

#menu input:checked ~ ul {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    transition: 300ms;
}

#menu input:not(:checked) ~ ul {
    transition: 300ms;
}

#menu h2 {
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    width: 1px;
	padding: 0;
    overflow: hidden;
}

#menu input {
    position: absolute;
    opacity: 0;
    display: block;
}

#menu label {
    padding: 10px 60px;
    background-color: var(--yellow);
    text-align: center;
}

#menu label:hover {
    cursor: pointer;
}

#menu ul {
    position: absolute;
    top: 40px;
    left: -100%;
}

#menu a {
    display: block;
    background-color: var(--teal);
    color: var(--black);
    text-decoration: none;
    padding: 1em 0;
    transition: 400ms;
}

#menu a:hover {
    background-color: var(--yellow);
    color: var(--black);

}

#menu li:not(:last-child) a {
    border-bottom: 1px solid var(--black);
}

.active a{
    background-color: var(--yellow);
}

#intro-left {
	padding: 1.5em;
}

#intro-left h2 {
	padding: 0em;
}

.img-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.img-grid img {
    max-width: 100%;
    width: 100%;
}

#plan {
    background-color: var(--yellow);
}

#plan h3 {
    text-align: center;
    padding: 1em 0 0;
    font-size: 2em;
}

#plan div {
    display: grid;
    grid-template-columns: minmax(250px, 300px);
    justify-content: center;
    grid-gap: 1em;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

#plan section {
    background-color: var(--teal);
    padding: 1em;
    border-radius: 8px;
    border: 2px solid var(--white);
}

#plan img {
    display: block;
    max-width: 100%;
    padding: 1em;
    margin: 0 auto;
}

/* ----- TESTIMONIALS BEGIN -----*/
#testimonials {
    padding: 2em;
}

#testimonials h3 {
    font-size: 2em;
}

#testimonials div {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 1em;
    text-align: center;
}

#testimonials h4 {
    font-size: 1.25em;
    padding-top: 1em;
}

#testimonials q {
    font-style: italic;
}

#testimonials q::before {
    content: '"';
}

#testimonials q::after {
    content: '"';
}
/* ----- TESTIMONIALS END -----*/

/*----- ABOUT BEGINS -----*/
#about {
    background-color: var(--blue);
}

#about h3 {
    padding: 1em 1em 0.5em;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 0 1em 1em 1em;
}

#about section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about img {
    max-width: 100%;
    max-height: 80px;
}

/*----- ABOUT ENDS -----*/

/*----- CONTACT BEGINS -----*/
#contact {
    padding: 1em 0.5em 0;
}

#contact h3 {
    padding: 0 0 0 0.75em;
}

#contact h3 span {
    font-family: var(--montserrat);
    font-size: .5em;
    font-style: italic;
}

form {
    padding: 0 1em;
}
legend, form label:not(fieldset label) {
    text-transform: uppercase;
    font-weight: 900;
}


form label {
    padding-top: 1em;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 1em;
    border: 3px solid var(--purple);
    font-family: var(--montserrat);
}

#number {
    padding: 1em 0;
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset label {
    display: flex;
    align-items: center;
}

.radio-input {
    display: flex;
    align-items: center;
}

[type="radio"] {
    width: 50px;
    height: 50px;
}

[type="radio"]:checked {
    background-color: var(--purple);
    border-radius: 50%;
    transform: scale(.5);
    appearance: none;
}

.radio-control {
    position: absolute;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    width: 50px;
    height: 50px;
    border: 3px solid var(--purple);
    border-radius: 50%;
    transform: translate(8%, 3%);
}

select {
    padding: 1em;
    border: 3px solid var(--purple);
    font-family: var(--mont);
}

#submit {
    margin-top: 1em;
    background-color: var(--purple);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 900;
}
/*----- CONTACT ENDS -----*/
/*------ BODY ENDS -----*/

/*----- FOOTER BEGINS -----*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 1em 0 0;
    background-color: var(--light-gray);
}

footer p {
    font-size: .9em;
    padding: 0.5em;
}

footer a {
    text-decoration: none;
    color: var(--black);
    font-family: var(--h4-body-font);
    font-size: .8em;
    padding: 1em 0 0;
}

/*----- FOOTER ENDS -----*/

/*----- MEDIA QUERIES BEGINS -----*/

@media (min-width: 800px) {
    header {
        display: grid;
        grid-template-columns: .25fr 1fr;
        grid-template-rows: repeat(3, .5fr);
        padding-bottom: 2em;
    }

    main p:not(#about p) {
        padding: 0.25em 0.5em;
    }

    #logo {
        grid-row: 1/3;
        order: unset;
    }

    #logo img {
        max-width: 180px;
        width: fit-content;
    }

    h1 {
        order: unset;
    }

    header p {
        grid-row: 2/3;
        grid-column: 2/-1;
        order: unset;
    }

    nav {
        grid-row: 3/4;
        grid-column: 1/-1;
        padding: 1em;
        order: unset;
    }

    #menu label {
        display: none;
    }

    #menu ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
    }

    #menu li {
        max-width: 25%;
        width: 100%;
        text-align: center;
        margin: 0.5em;
    }

    #menu li:not(:last-child) a {
        border-bottom: unset;
    }

    #menu a {
        background-color: var(--white);
    }

    #menu a:hover {
        background-color: var(--yellow);
    }

    #intro {
        padding: 2em;
    }

    h2 {
        padding: 0.5em 0.25em 0;
    }

    main p {
        padding: 0.25em 0.25em;
    }

    .img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        overflow: hidden;
    }
    
    
    .img-grid picture {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .img-1 {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
    
    .img-2 {
        grid-row: 1 / 1;
        grid-column: 2 / -1;
    }
    
    .img-3 {
        grid-row: 2 / 2;
        grid-column: 1 / span 2;
    }

    #plan h3 {
        text-align: left;
        padding: 1em 0 0 1em;
    }

    #plan div {
        grid-template-columns: 1fr 1fr;
    }

    #testimonials div {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }

    #about h3 {
        font-size: 2em;
    }

    #about div {
        grid-template-columns: repeat(4, 1fr);
    }

    #contact {
        padding: 2em 3em 0.5em;
    }

    fieldset {
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 0;
    }

    #mySubmit {
        max-width: 200px;
        width: 100%;
        margin-left: auto;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    footer a {
        padding: 0.5em;
    }
}

@media (min-width: 1250px) {
    header {
        grid-template-rows: 80px 20px;
        grid-template-columns: 180px .5fr 1fr;
        align-items: end;
    }

    h1 {
        padding: 0.5em 0.75em 0 0;
    }

    header p {
        padding: 0;
    }

    nav {
        grid-row: 1/2;
        grid-column: 3/-1;
        align-self: baseline;
        padding: 0;
    }

    #menu li {
        margin-top: 0;
    }

    #menu li:last-child {
        margin-right: 0;
    }

    #menu a {
        padding: .5em 0;
    }

    #intro {
        padding: 5em 5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: auto;
    }

    .img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        overflow: hidden;
    }
    
    .img-grid picture {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .img-1 {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
    
    .img-2 {
        grid-row: 1 / 1;
        grid-column: 2 / 2;
    }
    
    .img-3 {
        grid-row: 2 / 2;
        grid-column: 1 / span 2;
    }

    #plan h3 {
        padding-top: 2em;
		padding-bottom: 0.5em;
		padding-left: 2.5em;
    }

    #plan div {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 5em 5em;
    }

    #plan section {
        max-height: 225px;
    }

    #plan img {
        max-height: 100%;
    }

    #testimonials {
        padding: 7em;
    }

    #testimonials div {
        grid-template-columns: repeat(4, 1fr);
    }

    #about {
        padding: 2em 1em 3em;
    }

    #about div {
        max-width: 60%;
        margin: 0 auto;
    }

    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    footer {
        justify-content: end;
    }

    footer a {
        margin: 0 2em;
    }

    footer p {
        margin-right: auto;
    }
}
/*----- MEDIA QUERIES ENDS -----*/
